.signup-form {
  max-width: 520px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.signup-form h2 {
  color: rgb(255, 255, 255);
}
.signup-form input,
.signup-form select {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.429);
  border-radius: 7px;
  font-size: 14px;
  width: 100%;
}

.signup-form button {
  padding: 8px 14px;
  background-color: #0268d6;
  font-weight: 700;

  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: block;
}

input {
  width: 100%;
}
input::placeholder {
  color: #999;
}
.snm-nm {
  display: flex;
  gap: 10px;
}
#firstName,
#lastName,
#dob,
#gender,
#country,
#state {
  flex: 1;
}

.i-g-cm {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  color: #000 !important;
}
.i-g-cm a {
  text-decoration: none;
  color: #000 !important;
}
.db-nn {
  display: flex;
  row-gap: 3px;
  column-gap: 10px;
}
.db-nn div,
.snm-nm div {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}
select {
  color: grey; /* Initially grey text */
  background-color: rgb(255, 255, 255) !important;
}
select:valid {
  color: black;
}
select option {
  color: black;
}
select option:disabled {
  color: rgb(179, 179, 179);
}
.db-nn label,
.snm-nm label {
  color: #999;
  margin: 0;
  padding-left: 5px;
  font-weight: 500;
  font-size: 14px;
}

.cc-r-s {
  display: flex;
  gap: 10px;
}

/* The Modal (background) */
.modal-gfdh {
  display: none;
  position: fixed;
  z-index: 5000;
  max-height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.675);
}

.close-btn {
  color: #aaa;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.sectionf {
  width: 100%;
  height: 1000px;
}

.py-f {
  margin: 12vh auto;
  max-width: 450px;
  padding: 25px;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.253);
}
/* targeting the dob placeholder */
#dob.placeholder-shown::-webkit-input-placeholder {
  color: #999;
}

#dob.placeholder-shown::-moz-placeholder {
  color: #999;
}

#dob.placeholder-shown:-ms-input-placeholder {
  color: #999;
}

#dob.placeholder-shown::-ms-input-placeholder {
  color: #999;
}

#dob.placeholder-shown::placeholder {
  color: #999;
}

/* contact us */
.cta-us-ig {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: end;
}

.cty-cnt-us {
  display: flex;
  gap: 10px;
  align-items: end;
}
.cty-cnt-us img {
  height: 32px;
  width: 32px;
}

/*payment-target*/
#copyButton {
  display: inline-block;
  align-items: center;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#copyButton:hover {
  background-color: #9b95f1;
}

#copyButton .icon {
  width: 15px;
  height: 15px;
}
.reg-yu {
  position: relative;
}
.reg-yu h2 {
  font-size: 17px;
  font-weight: 500;
}
.reg-yu span {
  font-size: 18px;
  font-weight: 700;
}

#copyStatus {
  position: absolute;
  bottom: -15px;
  right: 10px;
  margin: 0px;
  font-size: 15px;
  color: green;
}
.cpy-cont {
  align-items: center;
  display: inline;
}
.cpy-cont p {
  font-size: 12px;
  display: inline;
  font-weight: 500;
}
.mk-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7971ea;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mk-btn:hover {
  background-color: #8d87e4;
}

.log-py {
  width: 250px;
}
.log-py a {
  width: 100%;
}
.log-py img {
  width: 100%;
}

@media (max-width: 768px) and (min-width: 200px) {
  .log-py {
    width: 150px;
  }
}
